*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container{
  overflow:hidden;
}

.sliding-background {
  display:flex;
  justify-content: space-around;
  background: repeat-x;
  list-style-type: none;
  font-size: 50px;
  width: 200%;
  animation: slide 60s linear infinite;

}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1600px, 0, 0);
  }
}

.sliding-background-2 {
  display:flex;
  justify-content: space-around;
  background: repeat-x;
  list-style-type: none;
  font-size: 50px;
  width: 200%;
  animation: slide-reverse 60s linear infinite;

}

@keyframes slide-reverse{
  0% {
    transform: translate3d(-1600px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}